<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>制丝CPS平台首页</title>
    <link rel="stylesheet" href="../../static/css/index.css" />
  </head>
  <body>
    <!-- 头部 -->
    <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon"/>
    <header>
      <h1>制丝CPS平台数据可视化</h1>
      <li><a style="text-decoration: none;" href="{% url 'pici_data_list' %}">more</a></li>
      <div class="show-time"></div>
      <script>
        var t = null;
        t = setTimeout(time, 1000); //开始运行
        function time() {
          clearTimeout(t); //清除定时器
          dt = new Date();
          var y = dt.getFullYear();
          var mt = dt.getMonth() + 1;
          var day = dt.getDate();
          var h = dt.getHours(); //获取时
          var m = dt.getMinutes(); //获取分
          var s = dt.getSeconds(); //获取秒
          document.querySelector(".show-time").innerHTML =
            "当前时间：" +
            y +
            "年" +
            mt +
            "月" +
            day +
            "日-" +
            h +
            "时" +
            m +
            "分" +
            s +
            "秒";
          t = setTimeout(time, 1000); //设定定时器，循环运行
        }
      </script>
    </header>

    <!-- 页面主体 -->
    <section class="mainbox">
      <!-- 左侧盒子 -->
      <div class="column">
        <div class="panel bar">
          <h2>成本数据</h2>
          <!-- 图表放置盒子 -->
          <div class="chart"></div>
          <!-- 伪元素绘制盒子下边角 -->
          <div class="panel-footer"></div>
        </div>
        <div class="panel line">
          <h2>生产数据
            <a class="a-active" href="javascript:;">2022</a>
            <a href="javascript:;">2021</a>
          </h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel pie">
          <h2>人员数据</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <!-- 中间盒子 -->
      <div class="column">
        <!-- 头部 no模块 -->
        <div class="no">
          <div class="no-hd">
            <ul>
              <li>{{ data_8 }}</li>
              <li>{{ data_9 }}</li>
            </ul>
          </div>
          <div class="no-bd">
            <ul>
              <li>芙蓉王今日生产数据</li>
              <li>白沙今日生产数据</li>
            </ul>
          </div>
        </div>
        <!-- map模块 -->
        <div class="map">
          <div class="map1"></div>
          <div class="map2"></div>
          <div class="map3"></div>
          <div class="chart"></div>
        </div>
      </div>
      <!-- 右侧盒子 -->
      <div class="column">
        <div class="panel bar2">
          <h2>质量数据</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel line2">
          <h2>效率数据</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel pie2">
          <h2>设备数据</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </section>
    <script>
      var data_1 = {{data_1|safe}};
      var data_2 = {{data_2|safe}};
      var data_3 = {{data_3|safe}};
      var data_4 = {{data_4|safe}};
      var data_5 = {{data_5|safe}};
      var data_6 = {{data_6|safe}};
      var data_7 = {{data_7|safe}};
    </script>
    <script src="../../static/js/flexible.js"></script>
    <script src="../../static/js/echarts.min.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <!-- 引入china.js 完成地图模块 -->
    <script src="../../static/js/china.js"></script>
    <script src="../../static/js/index.js"></script>
  </body>
</html>
