<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Static Template</title>
  </head>
  <body>
    <div class="container">
       <form action="{% url 'login_auth' %}"  method="post"  class="login-form">
        {% csrf_token %}
          <h2>制丝CPS平台</h2>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="用户名"
          />
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="密码"
          />
          <input type="submit" class="form-control btn signin_btn" value="登录">
          {% if error %}
         <p style="color: red;">{{ error }}</p>
         {% endif %}
         </div><!--/.form-group -->
        </form>
      </div>
    </div>
  </body>
</html>
