{% extends "home.html" %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>批次报告</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tables/jquery.dataTables.css'%}">
  </head>
  <!--导航栏-->
  {% block content %}
<style type="text/css">
	 table
    {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }
    table td, table th
    {
        border: 1px solid #cad9ea;
        color: #666;
        height: 40px;
        width: 400px;
    }
    table thead th
    {
        background-color: #CCE8EB;
        width: 400px;
    }
    table tr:nth-child(odd)
    {
        background: #fff;
    }
    table tr:nth-child(even)
    {
        background: #F5FAFA;
    }
</style>
    <div class="main">
      <div class="leftbox">
        <div class = "charts1" id="charts1"></div>
        <div class = "charts2" id="charts2"></div>
        <div class = "charts3" id="charts3"></div>
        <div class = "charts4" id="charts4"></div>
        <div class = "charts5" id="charts5"></div>
      </div>
      <div class="rightbox">
        <div class="btn-group">
          <button id="reload" class="searchBtn progress">刷新</button>
          <button id="all" class="searchBtn all">全部</button>
          <button id="total" class="searchBtn all">总量</button>
        </div>
        <div class ="table-group">
          <table id ="datatables_1" class="table_pici_data">
            <tr>
              <th>批次号</th>
              <th>品牌</th>
              <th>生产日期</th>
            </tr>
              {% if pici_data_list %}
                {% for pici_data in pici_data_list %}
                <tr>
                  <td>
                    <a href="{{ pici_data.get_pici_url }}">{{ pici_data.picihao }}</a>
                  </td>
                  <td>{{pici_data.pinpai}}</td>
                  <td>{{pici_data.shengchan_date}}</td>
                </tr>
                {% endfor %}
              {% endif %}
          </table>
        </div>
      </div>
    </div>
  
  <script type="text/javascript" charset="utf8" src="{% static 'js/flexible.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/echarts.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/pici_data_list.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'tables/jquery.dataTables.js' %}"></script>
  <script>
    $(document).ready(function () {
        $('#datatables_1').DataTable({
            stateSave: true,
        });
    });
  </script>
{% endblock %}
 